
 /*Navigation*/

.primaryNav {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 300px;
    grid-template-areas:
        "logo navBar"
        "staffName staffName";
    margin: 0px; 
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,012840+84,012840+84&0+0,0.9+100;TSW */
     background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(1,40,64,0.76) 84%, rgba(1,40,64,0.9) 100%),url(../images-folder/sarah_marta_makeover.jpg); /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/sarah_marta_makeover.jpg); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/sarah_marta_makeover.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6012840',GradientType=0 ); /* IE6-9 */   
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center; 
}

#logo {
    grid-area: logo;
    display: flex;
    position: relative;
    transform: scale(.35);
    margin-left: -15%;
    justify-content: flex-start;
}
.navBar {
    display: flex;
    grid-area: navBar;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-right: 10%;
    align-items: center;
    justify-content: space-between;
}
a {
    color: white;
    text-decoration: none;
}

/*Staff | Sarah McColley - Title*/

.staffName {
    display: grid;
    grid-area: staffName;
    text-align: right;
    font-weight: 700;
    margin-right: 30%;
    margin-top: 20%;
    position: relative;
    color: white;
    font-size: 45px;
    font-family: Poppins;
    
}
/* Text Grid - About*/
.aboutStaff {
    display: grid;
    grid-template-columns: 300px 80%;
    grid-template-rows: 300px 95vh;
    grid-template-areas:
        "headshot experience"    
        "sidebar experience";
    grid-gap: 3%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.headshot {
    grid-area: headshot;
    background-image: url(../images-folder/sarah_headshot.jpg);
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -150%;
    position: relative;
    z-index: 5;
}

.Experience {
    grid-area: experience;
}
.experienceTitle {
    color: #187AA5;
}
.forFun {
    color: #187AA5;
    font-weight: 700;
}
.sidebar {
    grid-area: sidebar;
    margin-top: -80%;
}
#sideDescription1 {
    color: #187AA5;
    font-weight: 500;
    font-style: italic;
}
#education {
    font-weight: 700;
}
#profAffiliations {
    font-weight: 700;
}
#contact {
    font-weight: 700;
}


/*Featured Projects | Sarah McColley*/
.featuredProjects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px;
    grid-gap: 2%;
    grid-template-areas:
        "recess sandySprings decatur";
    align-content: start;
    margin-right: 3%;
    margin-left: -2%;
    margin-top: -5%;
    margin-bottom: 5%;
    color: white;
}

#recess {
    display: flex;
    grid-area: recess;
    margin-left: 15%;
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,012840+84,012840+84&0+0,0.9+100;TSW */
     background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(1,40,64,0.76) 84%, rgba(1,40,64,0.9) 100%),url(../images-folder/recess_grid.png); /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/recess_grid.png); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/recess_grid.png); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6012840',GradientType=0 ); /* IE6-9 */   
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     align-items: flex-end;
    justify-content: flex-start;
    
}

#recess h3 {
    text-align:left;
    padding: 2%;
    font-weight: 700;
}
#sandySprings {
    display: flex;
    grid-area: sandySprings;
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,012840+84,012840+84&0+0,0.9+100;TSW */
     background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(1,40,64,0.76) 84%, rgba(1,40,64,0.9) 100%),url(../images-folder/northsprings_site1_aerial.jpg); /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/northsprings_site1_aerial.jpg); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/northsprings_site1_aerial.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6012840',GradientType=0 ); /* IE6-9 */   
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     align-items: flex-end;
    justify-content: flex-start;
}
#sandySprings h3 {
    text-align:left;
    padding: 2%;
    font-weight: 700;
}

#decatur {
    display: flex;
    grid-area: decatur;
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,012840+84,012840+84&0+0,0.9+100;TSW */
     background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(1,40,64,0.76) 84%, rgba(1,40,64,0.9) 100%),url(../images-folder/decatur_openingnight.jpg); /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/decatur_openingnight.jpg); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/decatur_openingnight.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6012840',GradientType=0 ); /* IE6-9 */   
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     align-items: flex-end;
    justify-content: flex-start;
}

#decatur h3 {
    text-align:left;
    padding: 2%;
    font-weight: 700;
}
            
            
/*Footer*/
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 300px;
    grid-gap: 6%;
    grid-template-areas:
        "sayHello sayHello"
        "footerLeft footerRight";
    background-color: #187AA5;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
}
.sayHello {
    grid-area: sayHello;
    font-weight: 700px;
    color: #C1D959;
    margin-left: 9%;
    padding: 3%;
    margin-bottom: 5%;
}
.footerLeft {
    grid-area: footerLeft;
    margin-left: 25%;
    margin-top: 5%;
    color: white;
}

.footerRight {
    grid-area: footerRight;
    margin-top: 5%;
}
.team {
    font-weight: 700;
    color: white;
}
.designTeam {
    color: white;
    width: 500px;
}
.whitePrimary {
    font-weight: 200;
    border: 1.5px solid white;
    background-color: transparent;
    color: white;
    width: 200px;
}
/* Typography CSS */

h1 {
    font-size: 45px;
    margin: 0px 0px;
    font-weight: 700px;
    font-family: 'Poppins', sans-serif;
}
h2 {
    font-size: 35px;
    margin: 0px 0px;
    font-family: 'Poppins', sans-serif;
}
  
h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 0px 0px;
    font-family: 'Poppins', sans-serif;
}
  
h4 {
    color: black;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/**MEDIA QUERY MOBILE**/
/**ATTEMPT AT RESPONSIVE DESIGN**/

@media only screen and (max-width: 600px){
    .primaryNav {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15vh 25vh 25vh;
        grid-template-areas:
            "logo"
            "navBar"
            "staffName";
        margin: 0px; 
         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,012840+84,012840+84&0+0,0.9+100;TSW */
         background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(1,40,64,0.76) 84%, rgba(1,40,64,0.9) 100%),url(../images-folder/sarah_marta_makeover.jpg); /* FF3.6-15 */
         background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/sarah_marta_makeover.jpg); /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/sarah_marta_makeover.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6012840',GradientType=0 ); /* IE6-9 */   
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center; 
    }
    
    #logo {
        grid-area: logo;
        display: flex;
        position: relative;
        transform: scale(.50);
        justify-content: flex-start;
    }
    .navBar {
        display: inline-block;
        grid-area: navBar;
        justify-content: flex-end;
        margin-left: 15%;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: white;
        margin-right: 10%;
    }
    
    /*Staff | Sarah McColley - Title*/
    
    .staffName {
        display: grid;
        grid-area: staffName;
        text-align: left;
        font-weight: 700;
        margin-top: 5%;
        position: relative;
        color: white;
        font-size: 25px;
        font-family: Poppins;
        margin-left: 15%;
    }
    /* Text Grid - About*/
    .aboutStaff {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25vh 275vh 100vh;
        grid-template-areas:
            "headshot"    
            "experience"
            "sidebar";
    }
    .headshot {
        grid-area: headshot;
        background-image: url(../images-folder/sarah_headshot.jpg);
        background-size: 300px;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: -30%;
        margin-bottom: 5%;
        position: relative;
        z-index: 5;
    }
    
    .Experience {
        grid-area: experience;
        font-size: 14px;
    }
    .experienceTitle {
        color: #187AA5;
        margin-top: -30%;
        font-size: 25px;
    }
    .forFun {
        color: #187AA5;
        font-weight: 700;
    }
    .sidebar {
        grid-area: sidebar;
    }
    #sideDescription1 {
        color: #187AA5;
        font-weight: 500;
        font-style: italic;
        font-size: 14px;
    }
    #education {
        font-weight: 700;
        font-size: 14px;
    }
    #profAffiliations {
        font-weight: 700;
        font-size: 14px;
    }
    #contact {
        font-weight: 700;
        font-size: 14px;
    }
    
    
    /*Featured Projects | Sarah McColley*/
    .featuredProjects {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40vh 40vh 40vh;
        grid-gap: 2%;
        grid-template-areas:
            "recess" 
            "sandySprings"
            "decatur";
        color: white;
        margin-bottom: 10%;
    }
    
    #recess {
        display: flex;
        grid-area: recess;
         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,012840+84,012840+84&0+0,0.9+100;TSW */
         background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(1,40,64,0.76) 84%, rgba(1,40,64,0.9) 100%),url(../images-folder/recess_grid.png); /* FF3.6-15 */
         background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/recess_grid.png); /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/recess_grid.png); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6012840',GradientType=0 ); /* IE6-9 */   
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         align-items: flex-end;
         justify-content: flex-start;
        
    }
    
    #recess h3 {
        text-align:left;
        font-weight: 700;
    }
    #sandySprings {
        display: flex;
        grid-area: sandySprings;
         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,012840+84,012840+84&0+0,0.9+100;TSW */
         background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(1,40,64,0.76) 84%, rgba(1,40,64,0.9) 100%),url(../images-folder/northsprings_site1_aerial.jpg); /* FF3.6-15 */
         background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/northsprings_site1_aerial.jpg); /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/northsprings_site1_aerial.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6012840',GradientType=0 ); /* IE6-9 */   
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         align-items: flex-end;
        justify-content: flex-start;
    }
    #sandySprings h3 {
        text-align:left;
        padding: 2%;
        font-weight: 700;
    }
    
    #decatur {
        display: flex;
        grid-area: decatur;
         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,012840+84,012840+84&0+0,0.9+100;TSW */
         background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(1,40,64,0.76) 84%, rgba(1,40,64,0.9) 100%),url(../images-folder/decatur_openingnight.jpg); /* FF3.6-15 */
         background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/decatur_openingnight.jpg); /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(1,40,64,0.76) 84%,rgba(1,40,64,0.9) 100%),url(../images-folder/decatur_openingnight.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6012840',GradientType=0 ); /* IE6-9 */   
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 5%;
    }
    
    #decatur h3 {
        text-align:left;
        padding: 2%;
        font-weight: 700;
    }
                
                
    /*Footer*/
    .footer{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10vh 35vh 35vh;
        grid-gap: 2%;
        grid-template-areas:
            "sayHello"
            "footerLeft" 
            "footerRight";
        background-color: #187AA5;
        padding: 0%;
        margin: auto;
    }
    .sayHello {
        grid-area: sayHello;
        font-weight: 700px;
        color: #C1D959;
        margin-left: 5%;
        margin-bottom: 5%;
        font-size: 25px;
    }
    .footerLeft {
        grid-area: footerLeft;
        margin-left: 5%;
        margin-top: 5%;
        color: white;
    }
    
    .footerRight {
        grid-area: footerRight;
        margin-top: 5%;
        margin-left: 5%;
    }
    .team {
        font-weight: 700;
        color: white;
    }
    .designTeam {
        color: white;
        width: 500px;
    }
    .whitePrimary {
        font-weight: 200;
        border: 1.5px solid white;
        background-color: transparent;
        color: white;
        width: 200px;
    }

}